body {
  font-family: 'Inter', sans-serif;
}

#scrollTopBtn {
  z-index: 1000;
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
}

#homeimg1{
  width: 75%;
}

#homeimg2{
  width: 75%;
}